# Python 3.13.9 recommended


requests
beautifulsoup4
lxml

scrapy
requests
beautifulsoup4
lxml
underthesea
scikit-learn
rank-bm25
faiss-cpu
sentence-transformers
llama-cpp-python
fastapi
uvicorn
pydantic
python-dotenv
schedule
